DATABASE_URL="postgresql://postgres:postgres@localhost:5432/afiliadoinator?schema=public"
JWT_SECRET="replace-with-at-least-32-random-characters"

AMAZON_CREDENTIAL_ID=""
AMAZON_CREDENTIAL_SECRET=""
AMAZON_CREDENTIAL_VERSION=""
AMAZON_PARTNER_TAG=""

ALIEXPRESS_APP_KEY=""
ALIEXPRESS_APP_SECRET=""
ALIEXPRESS_TRACKING_ID=""

MELI_CLIENT_ID=""
MELI_CLIENT_SECRET=""

SHOPEE_APP_ID=""
SHOPEE_APP_SECRET=""
